<div class="disclaimer text-left section-padding-top">
    <h5>申明【Disclaimer】</h5>
    <i class="fa fa-dot-circle-o"></i>
    <p>试用仅限第一次购买用户,并试用产品不提供退货服务</p>
    <i class="fa fa-dot-circle-o"></i>
    <p>由于产品非 工业化生产 的标准产品, 产品会有稍许花粉等杂质为正常现象,不影响使用</p>

    <i class="fa fa-dot-circle-o"></i>
    <p class="promo_p">蜂蜜食用建议每天20g左右,关于糖尿病患者或临床不能吃糖及蜂蜜的患者建议在医生建议下服务,否则出现问题暂不负责</p>
    <i class="fa fa-dot-circle-o"></i>
    <p>如企业用户请直接联系微信客服</p>
</div>